service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{allChildren=**} {
      function isUndefined(data, field) {
        return !data.keys().hasAll([field]);
      }
      allow read, delete: if true
      allow create, update: if (isUndefined(request.resource.data,'gameResults') || request.resource.data.gameResults is map)
                            && (isUndefined(request.resource.data, 'showSheetsNo') || request.resource.data.showSheetsNo is number)
                            && (isUndefined(request.resource.data, 'totalPoints') || request.resource.data.totalPoints is list)
                            && (isUndefined(request.resource.data, 'totalSheetsCount') || request.resource.data.totalSheetsCount is number)
                            && (isUndefined(request.resource.data, 'uma') || request.resource.data.uma is string)
                            && (isUndefined(request.resource.data, 'playersName') || request.resource.data.playersName is list)
    }
  }
}